@charset "UTF-8";
@import url("//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm/style.css");
.chatting{
    display: grid;
    place-items: center;
    margin-left: 70px;
    margin-top: 15%;
    border-radius: 3.5em;
    background: linear-gradient(to bottom, #957DAD, #d291bc);
}
div.nametext{
    display: flex;
    float: left;
}

.chathead{
    font-size: large;
   font-family: "NeoDunggeunmo";
}


#messageTextArea{
    border-radius: 10px;
    margin: 10px;
    background-color: #FFDFD3;
    color: #0A0A0A;
    border-style: none;
}

.user{
    margin: 10px; 
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    border-style: none;
    font-family: "NeoDunggeunmo";
}

.textMessage{
    margin: 10px;
    text-align: center;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-style: none;
    font-family: "NeoDunggeunmo";
}

.sendbox{
	display: grid;
	place-items: 2;
    margin: 10px;
}

.send{
    background-color: #FEC8D8;
    margin: 10px;
    padding: 10px; 
    border-style: none;
    border-radius: 1.5em;
    font-size: large;
    font-family: "NeoDunggeunmo";
                                                
}

.dis{
    background-color: #957DAD;
    margin: 10px;
    padding: 15px;
    border-style: none;
    border-radius: 1.5em;
    font-size: large;
    font-family: "NeoDunggeunmo";
}