@charset "UTF-8";
@import url("//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm/style.css");

* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "NeoDunggeunmo";
}
body {
  font-size: 14px;
}
html {
  height: 100%;
  background-image: url("./img/space2.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  width: 300px;
  margin: auto;
  text-align: center;
  line-height: 100px;
}
.headerLogo {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
}
.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 400px;
  height: 450px;
  padding: 40px;
  box-sizing: border-box;
  /* border: 1px solid #6a24fe; */
  border-radius: 20px;
  margin: 0 auto;
  /* box-shadow: 5px 5px gray; */
}
.container > h2 {
  font-size: 24px;
  background-image: linear-gradient(
    to right,
    rgb(18, 6, 250),
    rgb(250, 0, 175)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}
#login-form {
  width: auto;
}
#login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #fff;
  border: 0.5px solid #0b0149;
  cursor: pointer;
  color: #0b0149;
}
#login-form > .idCheck {
  text-align: center;
  width: 20%;
  box-sizing: border-box;
  margin-left: 10px;
}
#login-form > input::placeholder {
  background-image: linear-gradient(
    to right,
    rgb(18, 6, 250),
    rgb(250, 0, 175)
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#login-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  border: 0.5px solid #0b0149;
  background-color: #0b0149;
  margin-top: 20px;
}
.id_ok {
  color: #008000;
  display: none;
}

.id_already {
  color: #6a82fb;
  display: none;
}
