@charset "UTF-8";
@import url("//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm/style.css");

* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "NeoDunggeunmo";
}

html {
  height: 100%;
  background-image: url("./img/space2.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  font-size: 14px;
}
.header {
  width: 300px;
  margin: auto;
  text-align: center;
  line-height: 100px;
}
.headerLogo {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
}
.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 400px;
  height: 400px;
  padding: 40px;
  box-sizing: border-box;
  /* border: 1px solid #6a24fe; */
  border-radius: 20px;
  margin: 0 auto;
  /* box-shadow: 5px 5px gray; */
}
.container > h2 {
  font-size: 24px;
  background-image: linear-gradient(
    to right,
    rgb(18, 6, 250),
    rgb(250, 0, 175)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

#login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #fff;
  border: 0.5px solid #0b0149;
  cursor: pointer;
  color: #0b0149;
}
#login-form > #lo {
  color: #fff;
  font-size: 16px;
  border: 0.5px solid #0b0149;
  background-color: #0b0149;
  margin-top: 20px;
}
#login-form > input::placeholder {
  background-image: linear-gradient(
    to right,
    rgb(18, 6, 250),
    rgb(250, 0, 175)
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}



#load {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color:rgba(255,255,255,0.8);
  z-index: 99;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
#loadingImg {
  opacity: 1;
  width: 200px;
  height: 200px;
  z-index: 100;
}
#startImgWrap {
  width: 200px;
  height: 100px;
}
#startButton {
  opacity: 1;
  width: 70px;
  height: 50px;
  display: none;
  z-index: 100;
  margin: auto;
  cursor: pointer;
}
#startButton:hover {
  width: 100px;
  height: 70px;
}
